.main_signup_dev{
  background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../../images/bg10.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  overflow: hidden;
  width: 100%;
}
.signup_form_dev{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 500px;
   width: 400px;
   background-color: rgba(248, 244, 240, 0.4);
   margin: 60px auto;
   border-radius: 10px;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}
.signup_form_dev h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #2c3e50;
  padding-bottom: 10px;
}

.signup_form{
  margin-top: 30px;
}
.signup_form input{
  width: 350px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.signup_btn{
  width: 100px;
  border-radius: 10px;
  height: 30px;
  margin: 8px auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: none;
}
.form_message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}


