 *{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.about_text_main_dev{
  background-image: url("../../images/about1.webp");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding: 40px 20px;
   width: 100%;
   height: 600px;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 12px;
}
.about_text_dev{
  width: 400px;
  height: 220px;
  background-color: rgba(0, 1, 1, 0.756);
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.071);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.895);
  transition: transform 0.3s ease;
  margin-bottom: 15px;
  margin-left: 15px;
  border-radius: 10px;
  padding: 10px;
  line-height: 1.4;
}
.about_text_dev:hover{
  transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.about_heading_dev{
  font-size: 22px;
  font-family: poppins;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  margin-top: 10px;
}


.meet-our-team{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../../images/about5.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 900px;
  border-radius: 12px;
}
.meet_team_div{
  max-width: 900px;
  height: 500px;
  text-align: left;
  padding: 40px;
  background-color: rgba(0, 1, 1, 0.352);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  line-height: 1.6;
  font-size: 18px;
  margin-top: 100px;
  margin-left: 40px;
}
.meet_team_div h2{
  font-size: 36px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.071);
}
.meet_team_div p{
  font-size: 20px;
}





.about_card_main_dev{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../../images/about2.webp");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  gap: 90px;
  border-radius: 12px;
  height: 600px;
}
.about_card_dev{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  font-weight: 500;
  line-height: 1.6;
  border-radius: 10px;
  background-color: #f8f4f0;
}
.about_card_dev:hover{
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }

.about_card_dev img{
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.card_text_dev{
  display: flex;
  padding: 5px;
  gap: 20px;
} 
.supervisor-section{
  display: flex;
  justify-content: space-around;
  background-color: #f8f4f0;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 700px;
}
.supervisor_main_dev{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  background-color: #fffaf5bc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 15px;
  gap: 20px;
  height: 500px;
}
.supervisor_text_dev{
  display: flex;
  flex-direction: column;
  width: 720px;
  height: 370px;
  line-height: 1.8;
  padding: 10px;
  font-family: poppins
}
.supervisor_text_dev h1{
  font-size: 40px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}
.supervisor_image_dev{
  width: 500px;
  height: 400px;
  border-radius: 10px;
}
.supervisor_image_dev img{
  width: 450px;
  height: 320px;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
}