*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.contact_main_div_one{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../../images/contact2.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.contact_main_div_one h1{
  font-size: 70px;
  color: white;
  font-weight: bolder;
  margin-left: 30px;
}
.contact_main_div_one p{
  font-size: 20px;
  color: white;
  margin-top: 10px;
  margin-left: 30px;
}
.contact_main_dev_two{
  background-color: #11141E;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1px;
  font-family: poppins;
  line-height: 1.6;
}
.contact_main_dev_two h1{
  font-size: 45px;
  color: white;
  font-weight: bolder;
  margin-left: 30px;
}
.contact_main_dev_two p{
  font-size: 17px;
  color: white;
  margin-top: 10px;
  margin-left: 30px;
  width: 630px;
}


.contact_main_dev_three{
  background-image: url("../../images/contact3.avif");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
  height: 1300px;
  margin-top: 1px;
}
.contact_info_main_dev{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 90px;
  margin-bottom: 85px;
}
.contact_info{
  width: 310px;
  height: 250px;
  background-color: rgba(17, 20, 30, 0.952);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 17px;
  padding: 10px;
  color: white;
  line-height: 1.6;
   text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.071);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.895);
  transition: transform 0.3s ease;
}
.contact_info:hover{
  transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.contact_info a{
  color: white;
  text-decoration: none;
}
.form_contact_dev{
  background-color: rgba(5, 30, 70, 0.884);
  width: 1300px;
  height: 600px;
  border-radius: 15px;
  margin: 45px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.input_contact_dev{
  margin-left: 90px;
}
.form_contact_heading_dev{
  margin-left: 100px;
  font-size: 18px;
  font-weight: bolder;
  color: rgb(0, 200, 255);
  font-family: poppins;
}
.form_contact_dev input,
.form_contact_dev textarea {
  width: 520px;
  padding: 15px;
  height: 60px;
  background-color: rgba(128, 128, 128, 0.555);
  border: none;
  margin: 18px;
  color: white;
}
.form_contact_dev input::placeholder,
.form_contact_dev textarea::placeholder {
  color: white;
  opacity: 1;
  font-size: 22px;
}
#email{
  width: 1075px;
}
#subject{
  width: 1075px;
}
.form_contact_dev textarea{
  width: 1075px;
  height: 150px;
}