* {
  padding: 0%;
  margin: 0%;
}
.main_dev {
  background-image: url(../images/bg12.jpg);
  background-color: rgb(0, 1, 1);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 15px;
  width: 100%;
  height: 600px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  animation: floatBackground 6s ease-in-out infinite;
}
@keyframes floatBackground {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.main_dev h1 {
  font-size: 38px;
  font-family: Poppins;
  font-weight: bold;
  margin-top: 25px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.884);
}
.card_main_dev {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: left;
  margin-top: 30px;
}
.card_div {
  width: 250px;
  height: 130px;
  background-color: rgba(0, 0, 0, 0.79);
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.895);
  transition: transform 0.3s ease;
  line-height: 1.4;
  color: white;
  margin-bottom: 15px;
}
.card_div:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0.6, 0, 0, 0.3);
}
