*{
  margin: 0%;
  padding: 0%;
}
.hero_main_dev{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #efecec;
  gap: 20px;
  border-radius: 10px;
  margin-top: 5px;
}
.hero_heading{
  font-size: 27px;
  margin-bottom: 8px;
  font-weight: 500;
}
.hero_button button{
  margin-top: 30px;
  margin-left: 25px;
  width: 140px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  font-size: 17px;
  background-color: rgb(39, 105, 176);
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hero_button button:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}
.hero_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-right: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hero_image img:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}