
* {
  margin: 0px;
  padding: 0px;
}
.main_div {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  background-color: #111827;
  margin: 0px 0%;
  padding: 10px 10px;
  height: 70px;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.logu_div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logu_text{
  width: 120px;
  margin-left: -5px;
  font-size: 22px;
  font-weight: bolder;
}
.text_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 18px;
  font-family:sans-serif;
  font-weight: 600px;
  
}
.link{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  font-family: poppins;
}
.search_div{
  background: white;
  padding: 5px;
  border-radius: 5px;
}
.search_div input{
  width: 250px;
  height: 25px;
   border: none;
   margin-left: 7px;
   
}
